<a
  mat-list-item
  title="{{ item().label }}"
  class="menu-item"
  [routerLink]="routeHistory() + '/' + item().route"
  (click)="toggleNested()"
  routerLinkActive="selected-menu-item"
  #rla="routerLinkActive"
  [activated]="rla.isActive"
  [style.--mat-list-list-item-leading-icon-start-space]="indentation()"
>
  <mat-icon
    [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'"
    matListItemIcon
    >{{ item().icon }}
  </mat-icon>

  @if(!collapsed()) {
  <span matListItemTitle>{{ item().label }}</span>
  } @if(item().subItems) {
  <span matListItemMeta>
    @if(nestedMenuOpen()) {
    <mat-icon matListItemIcon>expand_less</mat-icon>
    } @else {
    <mat-icon matListItemIcon>expand_more</mat-icon>
    }
  </span>
  }
</a>

@if(item().subItems && nestedMenuOpen()) {
<div @expandContractMenu>
  @for (subItem of item().subItems; track subItem.label) {
  <app-menu-item
    [item]="subItem"
    [collapsed]="collapsed()"
    [routeHistory]="routeHistory() + '/' + item().route"
  ></app-menu-item>
  }
</div>
}
