:host * {
  transition: all 500ms ease-in-out;
}

.menu-item {
  border-left: 5px solid;
  border-left-color: black !important;
  border-radius: 0px !important;
}

.selected-menu-item {
  background-color: rgba(0, 0, 0, 0.1) !important;
  border-left-color: var(--primary-color) !important;
}
