<h1>Design Patterns</h1>

<ul class="mt-4">
  <li>
    <h4>Creational Patterns</h4>
    <p>
      Instead of creating objects directly, these patterns give you more
      flexibility in how objects come into existence.
    </p>
    <p class="mt-2">
      <strong>Example:</strong>&nbsp;&nbsp;Singleton, Builder, Factory
    </p>
  </li>

  <li class="mt-4">
    <h4>Structural Patterns</h4>
    <p>
      Deals with how objects relate to each other. <br />
      Think of them as blueprints for building large structures from individual
      pieces.
    </p>
    <p class="mt-2"><strong>Example:</strong>&nbsp;&nbsp;Facade, Adapter</p>
  </li>

  <li class="mt-4">
    <h4>Behavioral Patterns</h4>
    <p>
      Handles communication between objects - how they interact and distribute
      responsibility.
    </p>
    <p class="mt-2"><strong>Example:</strong>&nbsp;&nbsp;Strategy, Observer</p>
  </li>
</ul>
