.code-header {
  background-color: #2f2f2f;
  color: #b4b4b4;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.icon-xs {
  stroke-width: 1.5;
  flex-shrink: 0;
  height: 0.75rem;
  width: 0.75rem;
}

.copy-button {
  background-color: transparent;
  background-image: none;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #b4b4b4;
  margin: 0;
  border-style: none;
  padding: 0px !important;
}

.copy-icon {
  font-size: 0.75rem;
  line-height: 1rem;
  width: fit-content;
  height: fit-content;
}
