<h1>Tell Me About Yourself</h1>

How do I answer this question in 60 seconds?<br />

<h3>S.E.A.T. Method</h3>

<b>Skills</b>:
<ol>
  <li>Problem Solving</li>
  <li>Communication</li>
  <li>Collaborator</li>
</ol>

<u>Answer</u>:<br />
Thank you for this opportunity to work for (Company Name).<br />
<br />
<div class="mb-4">
  I have the skills to match the job description.&nbsp;&nbsp;I am a confident
  problem solver and a good communicator and always collaborate closely with
  co-workers to achieve the teams's objectives.
</div>

<b>Education/Experience</b>:
<ol>
  <li>Working on teams</li>
  <li>Delivering on time sensitive projects</li>
</ol>

<u>Answer</u>:<br />
<div class="mb-4">
  I have obtained my bachelor's degree in Computer Science and also a MCSD
  certification from Microsoft.&nbsp;&nbsp; I have experience working on high
  performance, small and large teams, delivering on time-sensitive projects.
</div>

<b>Achievements</b>:
<ol>
  <li>Talk about one from your past job.</li>
</ol>

<u>Answer</u>:<br />
<div class="mb-4">
  I am a high achiever.&nbsp;&nbsp;In my last position, I was praised for my
  creativity and ability to think outside the box well delivering work items on
  time and within budget.
</div>

<b>Type</b>:
<ol>
  <li>Type of person you are.</li>
</ol>

<u>Answer</u>:<br />
<div class="mb-4">
  If you hire me, I will be the type of employee who takes ownership of their
  professional development, takes the lead during challenges, and acts as a
  positive role model for your company.
</div>

<div>
  I look forward to sharing additional details in the interview regarding my
  suitability for this position.
</div>
