<h1>Interview Questions</h1>

<ol>
  <li>
    What are the key features of Angular that make it suitable for web
    develeropers?
    <div class="mb-4">
      <b>A</b>:&nbsp;&nbsp;Angular offers a modular architecture, two-way data
      binding, dependency injection, and a comprehensive set of tools that
      streamline the development process.
    </div>
  </li>
  <li>
    Can you explain the concept of two-way data binding in Angular?
    <div class="mb-4">
      <b>A</b>:&nbsp;&nbsp;Two-way data binding in Angular allows automatic
      synchronization of data between the model (component class) and the view
      (template), meaning any changes in the data reflects instantly in the view
      and vice-versa.
    </div>
  </li>
  <li>
    What is the role of services in Angular?
    <div class="mb-4">
      <b>A</b>:&nbsp;&nbsp;Services in Angular are singleton objects that enable
      the sharing of data and functionality across components, adhering to the
      Separation of Concerns Principle.
    </div>
  </li>
  <li>
    How do you manage state in an Angular application?
    <div class="mb-4">
      <b>A</b>:&nbsp;&nbsp;State management in Angular can be handled using
      services for localized data, NgRx for robust and structured state
      management, or by using local storage for simple data persistence.
    </div>
  </li>
  <li>
    Describe how dependency injection works in Angular.
    <div class="mb-4">
      <b>A</b>:&nbsp;&nbsp;Angular's dependency injection is a design pattern
      that allows an object to receive other objects it depends on without
      explicitly instantiating them within the class, making the code more
      modular and testable.
    </div>
  </li>
  <li>
    What are Angular directives and how do they work?
    <div class="mb-4">
      <b>A</b>:&nbsp;&nbsp;Directives in Angular are classes that add
      addditional behavior to elements in your Angular
      applications.&nbsp;&nbsp;They are used to manipulate the Document Object
      Model (DOM) by changing its layout, appearance, or removing elements.
    </div>
  </li>
  <li>
    Could you explain what an Angular module is?
    <div class="mb-4">
      <b>A</b>:&nbsp;&nbsp;An Angular module is a container that encapsulates
      related components, services, directives, and pipes, organizing them into
      a cohesive block of functionality, typically represented by an NgModule.
    </div>
  </li>
  <li>
    How does Angular handle HTTP requests?
    <div class="mb-4">
      <b>A</b>:&nbsp;&nbsp;Angular uses the HttpClient module to handle HTTP
      requests, which provides a simplified API for HTTP functionality,
      supporting features like interception, error handling, and request retry.
    </div>
  </li>
  <li>
    What strategies can be used to optimize performance in Angular applications?
    <div class="mb-4">
      <b>A</b>:&nbsp;&nbsp;Performance optimization in Angular can be achieved
      through techniques like lazy loading modules, reducing bundle size via AOT
      compilation, using OnPush change detection strategy, and avoiding
      unnecessary expressions in templates.
    </div>
  </li>
  <li>
    what are pipes in Angular and how are they utilized?
    <div class="mb-4">
      <b>A</b>:&nbsp;&nbsp;Pipes in Angular are functions that transform data
      displayed in templates, allowing developers to display data in a desired
      format, such as currency, date, or string transformations, without
      changing the source data.
    </div>
  </li>
</ol>
