<h1>Singleton Pattern</h1>
<div class="mb-4">
  Singleton is a creational design pattern, which ensures that only one object
  of its kind exists and provides a single point of access to it for any other
  code.
</div>

<h2>Singleton Service</h2>
<div class="mb-4">
  Here’s an example of a singleton service in Angular 19 using TypeScript:<br /><br />
  <ol>
    <li><b>Creating the Singleton Service</b></li>
  </ol>
  <div>
    In Angular, the service can still be provided at the root level to ensure
    that it follows the Singleton pattern.
  </div>
</div>

<app-code-highlight
  [code]="singletonPatternCode1"
  [language]="'typescript'"
></app-code-highlight>

<h4 class="mt-4">Key Points:</h4>
<ul>
  <li>
    <span class="hljs-attr">providedIn: 'root'</span> ensures that the service
    is a singleton throughout the application (Angular will create it only
    once).
  </li>
  <li>
    The <span class="hljs-attr">getInstance()</span> method ensures that only
    one instance of the service is ever created.
  </li>
</ul>

<ol start="2">
  <li><b>Using the Singleton Service in a Component</b></li>
</ol>

<div class="mb-4">
  To use the singleton service in a component, you simply inject the service as
  usual.&nbsp;&nbsp;Angular ensures it’s the same instance throughout the
  application.
</div>

<app-code-highlight
  [code]="singletonPatternCode2"
  [language]="'typescript'"
></app-code-highlight>

<h4 class="mt-4">Explanation:</h4>
<ul>
  <li>
    In the service, <span class="hljs-attr">getInstance()</span> controls the
    creation of the singleton instance.&nbsp;&nbsp;If the instance doesn’t
    exist, it is created, otherwise the existing one is returned.
  </li>
  <li>
    The component injects the <span class="hljs-attr">SingletonService</span>,
    and you can use its <span class="hljs-attr">getData()</span>
    method or any other methods you define.
  </li>
</ul>

<h4 class="mt-4">Conclusion:</h4>
<div class="mb-4">
  This pattern can be useful when you want to make sure that there is only one
  instance of a service managing shared state or performing a task that should
  only have a single point of execution.
</div>
