<mat-toolbar>
  <button mat-icon-button routerLink="/" class="me-2">
    <mat-icon>home</mat-icon>
  </button>
  <span class="logo-text me-4">Angular Practices</span>

  <button mat-button [matMenuTriggerFor]="menuPatterns">Patterns</button>

  <mat-menu #menuPatterns="matMenu">
    <button mat-menu-item routerLink="/design-patterns">
      Design Patterns Overview
    </button>
    <button mat-menu-item [matMenuTriggerFor]="creationalPatterns">
      Creational Patterns
    </button>
    <button mat-menu-item [matMenuTriggerFor]="structuralPatterns">
      Structural Patterns
    </button>
    <button mat-menu-item [matMenuTriggerFor]="behavioralPatterns">
      Behavioral Patterns
    </button>
  </mat-menu>

  <mat-menu #creationalPatterns="matMenu">
    <button mat-menu-item routerLink="/singleton-pattern">
      Singleton Pattern
    </button>
    <button mat-menu-item routerLink="/builder-pattern">Builder Pattern</button>
    <button mat-menu-item routerLink="/factory-pattern">Factory Pattern</button>
  </mat-menu>

  <mat-menu #structuralPatterns="matMenu">
    <button mat-menu-item routerLink="/facade-pattern">Facade Pattern</button>
    <button mat-menu-item routerLink="/adapter-pattern">Adapter Pattern</button>
  </mat-menu>

  <mat-menu #behavioralPatterns="matMenu">
    <button mat-menu-item routerLink="/strategy-pattern">
      Strategy Pattern
    </button>
    <button mat-menu-item routerLink="/observer-pattern">
      Observer Pattern
    </button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="menuSolid">SOLID</button>

  <mat-menu #menuSolid="matMenu">
    <button mat-menu-item routerLink="/solid-single-responsibility">
      Single Responsibility
    </button>
    <button mat-menu-item routerLink="/solid-open-closed">Open/Closed</button>
    <button mat-menu-item routerLink="/solid-liskov-substitution">
      Liskov Substitution
    </button>
    <button mat-menu-item routerLink="/solid-interface-segregation">
      Interface Segregation
    </button>
    <button mat-menu-item routerLink="/solid-dependency-inversion">
      Dependency Inversion
    </button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="menuTypescript">Typescript</button>

  <mat-menu #menuTypescript="matMenu">
    <button mat-menu-item routerLink="/abstract-class">Abstract Class</button>
    <button mat-menu-item routerLink="/abstract-method">Abstract Method</button>
    <button mat-menu-item routerLink="/optional-method">Optional Method</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="menuInterview">Interview</button>

  <mat-menu #menuInterview="matMenu">
    <button mat-menu-item routerLink="/interview-questions">
      Interview Questions
    </button>
  </mat-menu>
</mat-toolbar>
<div class="content">
  <router-outlet></router-outlet>
</div>
