mat-toolbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensures the toolbar is above other content */
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  padding: 0 8px;
}

mat-icon {
  margin-right: 8px;
  color: #ffffff;
  width: 24px; /* Set a fixed width */
  height: 24px; /* Set a fixed height */
  font-size: 24px; /* Consistent icon size */
  line-height: 24px; /* Align content vertically */
  display: inline-block; /* Prevent unnecessary resizing */
}

.spacer {
  flex: 1 1 auto;
}

mat-sidenav-container {
  height: calc(100vh - 64px);
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding-top: 32px; /* Adjust this depending on the height of the toolbar */
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 32px;
  min-height: calc(100vh - 96px);
  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
  overflow: auto;
}

.logo-text {
  background: linear-gradient(
    168deg,
    rgba(240, 51, 214, 1) 0%,
    rgba(139, 51, 255, 1) 96%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
}
